repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
    -   id: black
        language_version: python3.11
        args: ["--line-length=79"]
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort
-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest-cov
        name: pytest-cov
        entry: pytest --cov=src --cov-branch --cov-report term-missing --cov-fail-under=80
        language: system
        types: [python]
        stages: [pre-commit]
        pass_filenames: false
        always_run: true
